/*
~General
~Top Bar
~Cover
~About
~Experience
~Skills
*/

/* GENERAL
==========================================================================================*/
* {
  box-sizing: border-box;
}

body{
  margin:auto;
}

/* TOP BAR
==========================================================================================*/
header {
  text-align: center;
}

nav ul {
  
  padding-left: 0;
  list-style: none;
  padding: 20px;
  margin-bottom: 0;
}

nav li {
  display: inline-block;
  margin: 30px;
  text-transform: uppercase;
  letter-spacing: 7px;
  color:black;
  font-size: 15px;
  font-weight: bold;
}

/* COVER
==========================================================================================*/
.parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.title{
  color: white;
  font-size: 20px;
  position:absolute;
  left:250px;
  bottom:150px;
  text-align:center;
}

.software{
  color:#ffd6d6;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 25px;
}

.detail{
  font-family:Roboto;
  font-size:19px;
}

.quote{
  font-size: 13px;
}

/* ABOUT
==========================================================================================*/

.container{
  padding:20px;
}

.image--center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.aboutInfo{
  text-align:center;
  line-height: 25px;
  font-family: roboto;
}

.aboutMe{
  text-transform: uppercase; 
  letter-spacing: 7px; 
  color:#425a69;
}

.hr1{
  height: 2px;
  border-top: 1px solid #425a69;
}

.interests{
  text-transform: uppercase; 
  letter-spacing: 5px; 
  color:#425a69;
  font-size:18px;
}


/* EXPERIENCE
==========================================================================================*/

.text{
  color:white;
  text-align:center;
  margin-bottom:120px;
  margin-top:120px;
}

.experience{
  color:#ffd6d6;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 25px;
}

.developer{
  
  color: white;
}
.gac{
  
  color: white;
}
.assistant{
  
  color: white;
}

.hr2{
  height: 2px;
  border-top: 1px solid white;
}

/* SKILLS
==========================================================================================*/

.skillsInfo{
  text-align: center;
  line-height: 25px;
  font-family: roboto;
}
.skills{
  text-transform: uppercase; 
  letter-spacing: 7px; 
  color:#425a69;
}
.skillsInfo ul {
  list-style:inside;
  padding-left:0;
  columns: 2;
  -webkit-columns: 2;
}
