/*
~General
~Top Bar
~Cover
~About Me
*/

/* GENERAL
==========================================================================================*/
* {
  box-sizing: border-box;
}

body{
  margin:auto;
}

/* TOP BAR
==========================================================================================*/
header {
  text-align: center;
}

nav ul {
  
  padding-left: 0;
  list-style: none;
  padding: 20px;
  margin-bottom: 0;
}

nav li {
  display: inline-block;
  margin: 30px;
  text-transform: uppercase;
  letter-spacing: 7px;
  color:black;
  font-size: 15px;
  font-weight: bold;
}

/* COVER
==========================================================================================*/
.parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.title{
  color: white;
  font-size: 20px;
  position:absolute;
  left:250px;
  bottom:250px;
}

.software{
  color:#ffd6d6;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 25px;
}

.detail{
  font-family:Roboto;
}

/* ABOUT
==========================================================================================*/

.container{
  padding:20px;
}

.image--center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.aboutInfo{
  text-align:center;
  line-height: 30px;
  font-family: roboto;
}

h2{
  text-transform: uppercase; 
  letter-spacing: 7px; 
  color:#425a69;
}

hr{
  height: 2px;
  border-top: 1px solid #425a69;
}